body, html{
    height: 100%;
}
.videoWrapper{
    display: grid;  
    grid-template-columns: 1fr 1fr;
    margin-top: 100px;
}   
.video{
    width: 800px;
    border-radius: 5px;
}
.textField{
    text-align: center;
    margin: auto;
}
