.postWrapper{
    display: flex;  
    margin-top: 50px;
    justify-content: center;
}   
.postInner{
    display: flex;
    @media (min-width:320px) and (max-width: 480px) {
            flex-direction: column;
}}
.postTextField{
    inline-size: 300px;
    overflow-wrap: break-word;
}
.postTitle{
    display: flex;
    align-items: center;
}
.postVideo{
    display: flex;
}
.video{
    width: 1000px;
    border-radius: 5px;
    @media (min-width:320px) and (max-width: 480px) {
        height: 200px;
        width: auto;
}
}

