.postWrapper{
    display: flex;  
    margin-top: 50px;
    justify-content: center;
}   
.postInner{
    display: flex;
}
.postTextField{
    inline-size: 300px;
    overflow-wrap: break-word;
}
.postTitle{
    display: flex;
    align-items: center;
}
.postVideo{
    display: flex;
}
.video{
    width: 1000px;
    border-radius: 5px;
}

