.phoneWrapper{
    display: flex;
    justify-content: center;
}
.outer{
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.24);
    height: 600px;
    width: 350px;
    border-radius:  60px;
}
.inner{
    background-color: #546B7C;
    height: 580px;
    width: 325px;
    border-radius: 50px;
}
.image{
    height: 300px;
    width: 200px;
}