.Navbar{
    background: var(--color-bg);
    height: 50px;
    border: 2px solid white;

    .nav-link{
        color: var(--color-white);
        margin-left: 10px;
        &:hover{
            color: gray;
        }
    }
}