.root{
    width: 100%;
}

.banner{
    display: flex;
    height: 180px;
    padding: 10px;
    background: var(--color-black);
    justify-content: flex-end;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    

    h1{
        color: var(--color-white);
    }
}

.bannerInner{
    align-items: baseline;
}