.center{
    text-align: center;
}

.banner{
    margin-top: 20px;
    align-content: center;
    display: flex;
    height: 180px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.24);
    justify-content: flex-end;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    svg{
        width: 100px;
        padding-right: 10px;
    }
    h1{
        color: var(--color-white);
    }
}
 .contentWrap{
    position: relative;
    padding-bottom: 100px;
    min-height: 85vh;
}
    
.siteWrapper{
    display: flex;
    flex-direction: column;
}

    .banner{
        @media (min-width:320px) and (max-width: 480px) {
            margin: 10px;
            height: auto;
    }}

    .postSmall{
        display: flex;
        width: 200px;
    }

    .small h1{
        font-size: 2.5rem;
    }