:root {
    
    --color-bg: #1F242E;
    --color-white:  #ffffff;
    --color-1: #486173;
    --color-black: #252422;
    --color-inf-prim: #F39201;
    --color-inf-sec: #0162f3;
    --color-bt-prim: #307351;
    --color-bt-sec:  #193D2B;
    --color-et-prim: #FFC300;
    --color-et-sec:  #CE7C00;
    --color-mt-prim: #421B1B;
    --color-mt-sec:  #600202;

    --f-p2: 14px/1.5 "Jaldi";
  }
  
  html {
    font-family: 'Jaldi', sans-serif;
    font-size: 65%;
  }
  
  body {
    font-family: 'Jaldi', sans-serif;
    margin: 0;
    font-size: 1.6em;
    background: var(--color-bg);
    color: var(--color-white);
  }
  
  * {
    box-sizing: border-box;
  }
  
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  
  a {
    color: inherit;
    text-decoration: none;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin: 0;
  }

h1{
  font-size: 6rem;
  line-height: 1.1;
}
h2{
  font-size: 4rem;
  line-height: 1;
  font-weight: 400;
}

h3{
  font-size: 2rem;
  line-height: 1;
}
h4{
  font-size: 1.8rem;
  line-height: 1;
  font-weight: 400;
}
h5{
  font-size: 1.6rem;
  line-height: 1;
}
h6{
  font-size: 1.2rem;
  line-height: 1;
  font-weight: bold;
}

button,
input {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
}

details summary::-webkit-details-marker,
details summary::marker {
  display: none;
  content: "";
}
