.nav-link{
    color: var(--color-white);
    &:hover{
        color: gray;
    }
}

.image{
    height: auto;
}

.nav{
    display: flex;
    height: 180px;
    flex-wrap: nowrap;
    justify-content: space-around;
    padding: 10px;
        a{
        display: flex;
        align-items: center;}
}

@media only screen and (max-width: 600px) {
    .nav {
        flex-direction: column;
    }
  }