.nav-link{
    color: var(--color-white);
    &:hover{
        color: gray;
    }
}

.image{
    height: auto;
}
.footerWrapper{
    clear: both;
    display: flex;
    justify-content: space-around;
    width: 100%;
    bottom: 0;
    position: relative;
}
.nav{
    display: flex;
    max-width: 1320px;
    flex-wrap: nowrap;
    justify-content: space-around;
    padding: 10px;
        a{
        display: flex;
        align-items: center;}
}

@media only screen and (max-width: 600px) {
    .nav {
        flex-direction: column;
    }
  }