.nav-link{
    color: var(--color-white);
    &:hover{
        color: gray;
    }
}

.image{
    height: auto;
}

.nav{
    display: flex;
    height: auto;
    width: 100%;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 10px;
        a{
        display: flex;
        align-items: center;}
}