.galleryVideo{
    width: 500px;
    height: auto;
    padding-left: 10px;}

.galleryWrapper{
    display: flex;  
    justify-content: center;
    margin: 20px; 
}   

.galleryInner{
    display: flex;
}

h1{
    text-align: center;
}
