.galleryVideo{
    width: 500px;
    height: auto;
    padding-left: 10px;}

.galleryWrapper{
    display: flex;  
    justify-content: center;
    margin: 20px;
    @media (min-width:320px) and (max-width: 480px) {
        flex-direction: column;
        align-items: center;
        .galleryVideo{
            height: 200px;
            width: auto;
}}    
}

.galleryInner{
    display: flex;
}
